.profile {
  width: 400px;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
}

.description {
  padding: 20px;
  text-align: center;
}

.avatar {
  width: 120px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.name {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.tag,
.location {
  margin-bottom: 8px;
  color: gray;
}

.stats {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #d3d3d3;
}

.stats li {
  flex: 1;
  padding: 15px;
  border: 1px solid gray;
  text-align: center;
  display: flex;
  flex-direction: column;
}

span {
  font-size: 20px;
  font-weight: 400;
  margin: 10px 6px;
}
