.item {
  width: 130px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 12px;
  text-align: center;
}

.name {
  margin-top: 12px;
  margin-bottom: 8px;
  font-size: 32px;
  font-weight: 400;
}

.online {
  color: green;
  font-size: 24px;
}

.offline {
  color: red;
  font-size: 24px;
}
