.container {
  padding: 60px 20px;
  text-align: center;
}

.title {
  margin-bottom: 40px;
  font-size: 48px;
}

.cards {
  display: flex;
  gap: 24px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 220px;
  padding: 40px 20px;
  border-radius: 16px;
  background-color: #f3f3f3;
  text-decoration: none;
  color: black;
  font-size: 24px;
  font-weight: 600;
  transition: 0.3s;
}

.card:hover {
  background-color: black;
  color: white;
  transform: translateY(-5px);
}
