.table {
  width: 700px;

  border-collapse: collapse;

  text-align: center;

  font-size: 20px;

  background-color: white;
}

.table th {
  padding: 16px;

  background-color: #00bcd4;

  color: white;

  text-transform: uppercase;
}

.table td {
  padding: 14px;

  border: 1px solid #dcdcdc;
}

.table tbody tr:nth-child(even) {
  background-color: #f3f3f3;
}
